<launch>
  
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find robot_description)/urdf/robot.urdf.xacro'" />
  <arg name="multi_robot_name" default=""/>

  <param name="robot_description" command="$(arg urdf_file)" />


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/robot.rviz"/>
</launch>